/* common things */
* {
  margin: 0px;
  padding: 0px;
  max-width: 1440px;
}
header,
main {
  max-width: 1140px;
  margin: 0 auto;
}
footer {
  max-width: 1440px;
  margin: 0 auto;
}

.text-primary {
  color: #e95a08;
}

.noto-serif-font-name {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-font-size {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  opacity: 50%;
}

/* navbar start here  */
.hide {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  /* margin: 0 auto; */
  /* margin: 40px; */
  width: 100%;
}

.nav-left {
  width: 135px;
  height: 82px;
}

.nav-right ul {
  display: flex;
  margin-top: 40px;
}

.nav-right ul li {
  list-style: none;
  margin-right: 48px;
}

.nav-right li a {
  text-decoration: none;
  font-size: 16px;
}
/* navbar-text-color */
.clr-home {
  color: #252432;
  font-weight: bold;
}
.cmn-2 {
  color: #8987a1;
}
.clr-cart {
  color: #000000;
}

/* banner section start  */

.banner {
  display: flex;
  height: 100%;
  width: 100%;
  /* margin: 150px; */
  /* align-items: end; */
  margin-top: 120px;
}
.banner-left {
  width: 100%;
}
.font {
  font-weight: bold;
  font-size: 35px;
}

.inter-font-size {
  font-size: 22px;
  color: #000000;
}

.banner-right {
  width: 100%;
  height: 100%;
}

/* plants section  */

.plants {
  text-align: center;
  margin-bottom: 40px;
}
.plants-1 {
  margin-bottom: 15px;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  /* margin-left: 150px; */
  gap: 20px;
  margin-bottom: 120px;
  box-sizing: border-box;
}
.card {
  text-align: center;
}
.img {
  height: 322px;
  width: 270px;
  margin-bottom: 20px;
}

.inter-medium {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 10px;
}
.inter-bold {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 15px;
}
.button {
  width: 270px;
  height: 50px;
  background-color: #e95a08;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

/* plants lover section  */

.plants-lover {
  width: 100%;
  height: 100%;
  display: flex;
  /* margin: 0 auto; */
  justify-content: space-between;
  /* align-iteam: center; */
  align-items: center;
  text-align: center;
}
.plants-lover-img {
  text-align: center;
  width: 100%;
}

.plants-left {
  height: 100%;
  width: 100%;
  margin-right: 60px;
  position: relative;
}
.badge {
  position: absolute;
  top: -65px;
  right: -65px;
  width: 180px;
  height: auto;
}

.plants-right {
  font-size: 30px;
  margin: 20px;
}
.inter-clr {
  color: #000000 50%;
  font-size: 22px;
  padding: 20px;
  margin: 0;
}

.latest-deals-title {
  text-align: center;
  width: 100%;
}
.discription-container {
  width: 100%;
  margin-top: 0;
}

.font-style {
  height: 68px;
  font-size: 25px;
  margin-top: 133px;
}

/* lets do the challenging part  */

.container {
  display: flex;
  gap: 28px;
  justify-content: center;
  /* margin: 120px 150px; */
  margin-top: 180px;
  justify-content: center;
  align-items: center;
}
.containerdiv {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.card img {
  width: 100%;
  display: block;
  filter: brightness(60%);
}

/* Small cards (left side) */
.card.small {
  width: 100%;
  height: 100%;
}

/* Large card (right side) */
.card.large {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.container1 a {
  color: white;
}
.container1 {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-top: 120px;
  width: 100%;
}
.join-img {
  width: 100%;
}

.container-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

/* footer  */

/* footer header font size  */
.footer-headline {
  font-size: 50px;
}

.in-line {
  display: flex;
}
.input-side {
  width: 100%;
  height: 100%;
}

.button {
  width: 186px;
  height: 55px;
}
/* footer last one  */

.footer-abba {
  /* margin: 50px 160px; */
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  margin: 30px;
  box-sizing: border-box;
}

.text-size {
  font-size: 22px;
  font-weight: 400;
  width: 30%;
}

.footer-2 a {
  text-decoration: none;
  display: flex;
  color: black;
  padding: 5px;
}

.footer-3 a {
  text-decoration: none;
  display: flex;
  color: black;
  padding: 5px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  gap: 10px;
  align-items: center;
}

/* join section container style  */

.join-title {
  color: rgba(255, 255, 255, 1);
  font-size: 2.35rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.join-input {
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  width: 100%;
  border: none;
}
.join-btn {
  padding: 26px 50px;
  background-color: rgba(233, 90, 8, 1);
  color: white;
  border: none;
}
.input-filter {
  display: flex;
}
.join-container {
  background: url(../assets/news-letter-bg.png);
  padding: 220px 20px 220px 20px;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin-top: 120px;
}

/* responsive start  */

@media screen and (max-width: 576px) {
  .hide {
    display: none;
  }
  .badge {
    display: none;
  }
  .navbar {
    width: 100%;
    margin: 20px;
    box-sizing: border-box;
  }

  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }
  .banner-img {
    width: 100%;
  }

  .banner-left {
    text-align: center;

    margin-top: 60px;
    width: 100%;
  }
  .banner-title {
    font-size: 1.5rem;
  }

  .banner-right {
    width: 100%;
    margin: auto;
  }

  .plants-center {
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
  }

  .card-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .plants-lover {
    /* grid-template-columns: repeat(1fr); */
    flex-direction: column;
    margin-top: 120px;
    align-content: center;
    justify-content: center;
    /* margin-left: 20px; */
    /* box-sizing: border-box; */
  }
  .abcd {
    font-size: 1.5rem;
  }
  /* main {
    margin: 0 auto;
  } */
  .plants-lover-img {
    width: 100%;
    box-sizing: border-box;
  }
  .plants-right {
    width: 100%;
  }

  .font-style {
    margin-top: 400px;
    text-align: center;
    align-items: center;
  }
  .container {
    margin-top: 180px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .lets-do-img {
    width: 100%;
    height: 100%;
    margin: 10px 15px;
    box-sizing: border-box;
  }

  .footer-abba {
    flex-direction: column;
    width: 100%;
    /* text-align: center; */
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
  }
  .join-container{
    width: 100%;
    padding: 80px 20px 80px 20px;
    margin: 0 auto;
    display: block;
    /* justify-content: center; */
    align-content: center;
    text-align: center;

}
.join-input{
  width: 100%;
}
/* }
     .banner{
        flex-direction: column-reverse; 
        text-align: center;
     }
     
        .banner-left{
          text-align: center;
         
          margin-top: 60px;
          width: 100%;
          
        }

    .banner-right{
        width: 100%;
        margin: auto;
    }
  
    .plants-center{
   
      text-align: center;
      margin: auto;
      width: 100%;
      height: 100%;
    }

      
    }
    .card-grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }


    .plants-lover{
      grid-template-columns: repeat(1fr);
      flex-direction: column;
      margin-top: -150px;
      align-items: center;
      text-align: center;
    }

    .font-style{
      margin-top: 400px;
      text-align: center;
      align-items: center;
    }

    .footer-abba{
      flex-direction: column;
      width: 100%;
      text-align: center;
      align-items: center;
      height: 100%;
    } */
